body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: rgb(204, 0, 104);
}

.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  width: 100%;
}

.footer p,
.verification p {
  padding: 0;
  margin: 0;
}

.body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.verification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}
.content {
  width: 100vw;
  height: 100vh;
}
.warning {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: xx-small;
  font-style: italic;
}
