body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  color: #4F0B0C;
}

div{
  position : absolute;
  bottom: 0px;
  display : flex;
  justify-content: center;
  width: 100%;
}
